* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Calibri
}

.UstBolum {
    background-color: #333333;
    min-height: 80px;
}

.Logo {
    color: white;
    padding: 20px;
    font-family: "SUSE Mono";
    float: left;
}

.KullaniciBase {
    color: white;
    width: 400px;
    float: right;
    padding: 26px 0;
    text-align: right;
}

    .KullaniciBase a {
        color: white;
        text-decoration: none;
        margin: 0 20px;
    }

.SolTaraf {
    width: 200px;
    padding: 15px 0;
    border-right: 1px solid #8A8A8A;
    height: 800px;
    float: left;
    background-color: #4A4A4A;
}

    .SolTaraf a {
        display: block;
        padding: 5px 15px;
        text-decoration: none;
        color: #E0E0E0;
        border-bottom: 1px solid #8A8A8A;
    }

        .SolTaraf a:hover {
            background-color: #D6B77F;
            color: white;
        }

.Icerik {
    width: 1250px;
    padding: 15px;
    float: left;
}
.Counts {
}

.CountBox {
    float: left;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #8A8A8A;
    margin-left: 10px;
}
.FormTasiyici {
}

.FormBaslik {
    border: 1px solid #8A8A8A;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: none;
    background-color: #4A4A4A;
    color: #E0E0E0;
    padding: 15px;
}

.FormIcerik {
    border: 1px solid #001473;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 20px;
}

.Satir {
    padding: 10px 0;
}

.Etiket {
    margin-bottom: 10px;
}

.MetinKutu {
    width: 400px;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid #8A8A8A;
    color: #8A8A8A;
    margin-top: 10px;
}

.SecimKutu label {
    margin-left: 10px;
}

.Buton {
    padding: 10px 35px;
    background-color: #C5A572;
    color: white;
    font-weight: 900;
    font-size: 14pt;
    border-radius: 15px;
    border: none;
}

    .Buton:hover {
        background-color: #D6B77F;
        cursor: pointer;
    }

.BasariliPanel {
    background-color: #a6ffa8;
    color: #0c7a0e;
    border: 1px solid #0c7a0e;
    border-radius: 7px;
    padding: 20px;
}

.BasarisizPanel {
    background-color: #ffb3b3;
    color: #9a0b0b;
    border: 1px solid #9a0b0b;
    border-radius: 7px;
    padding: 20px;
}

.Liste {
    width: 100%;
}

    .Liste thead tr th {
        padding: 10px;
        font-size: 14pt;
        background-color: #efefef;
        border: 1px solid silver;
        margin: 0;
    }

    .Liste tbody tr th {
        padding: 10px;
        font-size: 14pt;
        background-color: #efefef;
    }

    .Liste tbody tr td {
        padding: 8px 10px;
        border: 1px solid silver;
        margin: 0;
    }

.ListeButon {
    padding: 4px;
    color: white;
    text-decoration: none;
    margin: 3px;
}

.Durum {
    background-color: #C5A572;
    border-radius: 3px;
}

.Duzenle {
    background-color: #C5A572;
    border-radius: 3px;
    color: #E0E0E0;
}

.Sil {
    background-color: #9a0b0b;
    border-radius: 3px;
    color: white;
}

.SolKolon {
    float: left;
    width: 600px;
}

.SagKolon {
    float: right;
    width: 600px;
}

.Fullwith {
    width: 95%;
}

.Dropdown {
    width: 420px;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid #001473;
    color: #001473;
    margin-top: 10px;
    background-color: white;
}

